div {
    background-color: lightgreen;
    margin: 5px;
    padding: 5px;
}
#second {
    background-color: lightblue;
}
#third {
    background-color: lightcoral;
}
h2{
    text-align: center;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    color: blueviolet;
}
img {
    background-size: cover;
    height: 300px;
}